<% include partials/_headers %> 

<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-dark btn-lg btn-block" type="button" type="submint">
       <a href="/spdro/<%= '1' %>" class="btn btn-info btn-lg btn-block">                                     
         <h6 class="text-light">SAN PEDRO - Pizzeria - Av.Alvarez Jonte 5001 - tel. 4566-3112</h6>                                        
       </a>  
     </button>   
   </div>
 </div>

       <% if (id == '1') { %>
         <% include partials/snipet01 %>
       <% } %>      

 
       
       <% if (id == '80') { %> 
          <% include partials/snipet80 %>  
       <% } %> 

      <% if (id == '81') { %> 
         <% include partials/sniptcaf %>  
      <% } %> 

      <% if (id == '82') { %> 
         <% include partials/sniptbeb %>  
      <% } %> 

      <% if (id == '83') { %> 
         <% include partials/sniptcom %>  
      <% } %> 

      <% if (id == '84') { %> 
         <% include partials/sniptpos %>  
      <% } %> 

      <% if (id == '85') { %> 
         <% include partials/sniptall %>  
      <% } %> 

  <% include partials/_footer %>