<div class="container-fluid mt-3">
   <div class="col-sm-12">
     <button class="btn btn-dark btn-lg btn-block" type="button" type="submint">
       <a href="/spdro/<%= '1' %>" class="btn btn-info btn-lg btn-block">                                     
         <h6 class="text-light">SAN PEDRO - Pizzeria - Av.Alvarez Jonte 5001 - tel. 4566-3112</h6>                                        
       </a> 
      </button>   
   </div>
 </div>

   </body>
</html>
