          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS / JUGOS / LI  ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '16' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS VARIAS       ____bebidas_____16be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '17' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS TINTOS / BLANC  ____bebidas_____17be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
