<tr>                                                                                                                  
    <td>                                                                                                                
      <a href="/spdro/snippet/<%= '1' %>" class="btn btn-primary btn-lg btn-block">                                    
        <h2 class="text-light"> POSTRES               ____postres_____65po </h2>                                        
      </a>                                                                                                              
    </td>                                                                                                               
    <td>                                                                                                                
      <a href="/spdro/snippet/<%= '1' %>" class="btn btn-primary btn-lg btn-block">                                    
        <h2 class="text-light"> COPAS HELADAS         ____postres_____67po </h2>                                        
      </a>                                                                                                              
    </td>                                                                                                               
  </tr>                                                                                                                 
