          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '1' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> CAFETERIA             ___cafeteria____01ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '2' %>" class="btn btn-danger btn-lg btn-block">                                      
                <h2 class="text-light"> TORTAS                ___cafeteria____02ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/spdro/snippet/<%= '21' %>" class="btn btn-danger btn-lg btn-block">                                     
                <h2 class="text-light"> PROMOS DE CAFETERIA   ___cafeteria____21ca </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
