    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS / JUGOS / LI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SABORIZADA 500 CM3 . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO FRUTILLA . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE NARANJA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMONADA . . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO /AGUA . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO /LECHE . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUAD TUTTI AL AGUA . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUAD TUTTI C/LECHE . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS VARIAS     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CERVEZA PATAGONIA . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOOP . . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 710 CM3 . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA / HEINIKEN . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES / STOUT / IPA . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE . . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER CHOPP/ TANQUE . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA CERVEZA VARIAS X473C $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS / BLANC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO TTO/BL 3/4 . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO/BL 3/4 . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON TTO/BL 3/4 . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE MALBEC . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT . . . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>COSECHA TARDIA . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO TTO/BL 1/2 . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO/BL 1/2 . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1/4 . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1/2 . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1LT . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $410</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
