    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES (ARABE O </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>QUESO SOLO . . . . . . .  $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO SOLO . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y QUESO . . . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO SOLO . . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO Y QUESO . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOMAT/LECH/QUESO   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC .PALM .ATUN / POLLO .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO SOLO . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $790</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO CLASICO . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO CLASICO . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA SOLO . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILANESA CLASICO .  $630</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS A LA PIEDRA/M</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA . . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON . . . . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MARGARITA . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON Y MORRONES . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ANCHOAS . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA CON QUESO . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE AL OLEO . . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROMANA . . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPOLITANA . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPO ESPECIAL . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CALABRESA . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PROVOLONE . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROQUE . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PALMITOS . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CHAMPIGÑON . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE VERDE . . . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CARIBEÑA . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE SAN PEDRO . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR IBERICA . . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GR MILANO . . . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GR LUCIANO . . . . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GR VIENESA . . . . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>GR JAMON C/RUCULA . . . . $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS CHICAS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA . . . . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON . . . . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MARGARITA . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE ANCHOAS . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AL OLEO . . . . . . $440</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROMANA . . . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO . . . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO ESPECIAL . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CHAMPIÑONES . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CARIBEÑA . . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA SAN PEDRO . . . . . $790</li>                          
                <li class="text-center"><span class="fa-li"></span>CH IBERICA . . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH MILANO . . . . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH LUCIANO . . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH VIENESA . . . . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH JAMON CRUDO C/RUCULA . $790</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CALZONES Y PIZZA REL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZZETA RELLENA . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZETTA RELLC/JAMON $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GRANDE NAPOLITANO$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GDE VERDE . . . .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE AL ROQUEFORT . . $1500</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO VERDE . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO NAPOLITANO $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO ROQUEFORT .$1100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS/PORCIONES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA / MARGARITA .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA C/ JAMON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZA / ANCHOAS . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. J Y MORRONES . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZETA RELLENA  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZETA C/JAMON $180</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA C/QUESO . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPOL . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDE/ CALABRESA .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y JAMON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP SAN PEDRO . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $50</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .  $100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS(FRIA/CALIEN</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CASERO . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM.RELLENO DE ATUN O AVE $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA AVE O ATÚN . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE RABAS . . . .  $900</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . .$1600</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENSAL . . $1650</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON / MAYONESA AVE . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA ATUN . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON COCIDO . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON CRUDO . . . .$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>PALM. CON SALSA GOLF . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURA . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE DADOS DE MUZZA $450</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>DADOS DE MUZZA . . . . .  $700</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS/ENSALD.ESP</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA ESPECIAL . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CH HASTA 4 INGRED . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BERMUDEZ . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BELLAGIO . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DEL PIERO . . .  $500</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS / PARRILA/GU</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO CHAMPIGÑON .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO . . . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION VARIAS . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FRIT/PURE . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO . . . . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA/ SAL  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPES DE TERNERA . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA . . . .  $470</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO/MUZZA . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA COMPLETA . . . . . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA RIOJANA . . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA POLLO . . . . . . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA COMPLETA . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO/MUZZA/SORR . $590</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . . $490</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNI . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . .$1200</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETES/ TORTILLAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELETE CAPRESSE . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETE SUIZO . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELET MIXTO . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPANOLA . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA /VERD .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPA Y CEBO . .  $600</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLOS/SUPREMA ESPEC</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO AL VERDEO C/ESP $650</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO AL GRUYERE C/NOSEI  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ALAJILLO C/ESPAÑOLA $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE SAN PEDRO . . . . .$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE MARYLAD/ POLLA NEGR$1400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  Y SALSAS VAR</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREEPS JAMON Y QUESO . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CREEPS CAPRESSE . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES / CANELONES . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>NOQUIS / TALLARINES . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINO /AGNOLOTIS . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOG / PESTO / SUE SUE . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN CARUSO/PARISIEN . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO/CREMA/MIXTA/MANTEC $200</li>                          
                <li class="text-center"><span class="fa-li"></span>4 QUESOS . . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MANTECA . . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISIENNE . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE/POLLO . .  $360</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU EJECUTIVO      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU DEL DIA . . . . . .  $490</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU NOQUI VERDE . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU EJECUTIVO 2 . . . .  $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMOS DE PIZZA     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 1 . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 2 . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 3 . . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU EMPANADAS . . . . .  $310</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
