    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES /CREMAS HELA</h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN . . . . . . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTA . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA /DURAZNO EN ALMIBAR $220</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS C/ HELADO . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 2 BOCHAS . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 3 BOCHAS . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE ALMENDRADO . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON ESCOSES . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA TATIN . . . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA HELADA P/ COMPARTIR $1450</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE . . . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DE MANZ . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO COPA HELADA . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRITO COPA HELADA . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN MIXTO . . . . . . .  $210</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
