    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LECHE C/ 3 LUNAS . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ LECHE TOSTADAS .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALI . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO CON CREMA . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. TOSTADAS . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MERM./ QUESO/ MANT. $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE CREMA O DULCE   $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS              </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTAS . . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE RICOTA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION PASTAFROLA . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA MANZANA . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJOR DE MAIZENA . . .  $110</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PROMOS DE CAFETERIA </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO COPA JUGO . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFEC/LECHE CON 2 LUNAS . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LECHE/MEDIO TOSTADO  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLAT CON TRES MEDIALU $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
