    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES (ARABE O </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span> QUESO SOLO . . . . . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span> JAMON COCIDO SOLO . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y QUESO . . . . . . $370</li>                          
                <li class="text-center"><span class="fa-li"></span> JAMON CRUDO SOLO . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO Y QUESO . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOMAT/LECH/QUESO   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC .PALM .ATUN / POLLO .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO SOLO . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO CLASICO . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO CLASICO . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA SOLO . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILANESA CLASICO .  $800</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS A LA PIEDRA/M</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON . . . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MARGARITA . . . . . . $830</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON Y MORRONES . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ANCHOAS . . . . . . . $830</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA . . . . . . . $780</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA CON QUESO . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE AL OLEO . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROMANA . . . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPOLITANA . . . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPO ESPECIAL . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CALABRESA . . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PROVOLONE . . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROQUE . . . . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PALMITOS . . . . . . $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CHAMPIGÑON . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE VERDE . . . . . . . .$1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CARIBEÑA . . . . . . $1200</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE SAN PEDRO . . . . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>GR VIENESA . . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR JAMON C/RUCULA . . . .$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS CHICAS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA . . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON . . . . . . . $700</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MARGARITA . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE ANCHOAS . . . .  $620</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AL OLEO . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROMANA . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO . . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO ESPECIAL . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CHAMPIÑONES . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CARIBEÑA . . . . .  $880</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA SAN PEDRO . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>CH VIENESA . . . . . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>CH JAMON CRUDO C/RUCULA . $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CALZONES Y PIZZA REL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZZETA RELLENA . . $1500</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZETTA RELLC/JAMON $1700</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GRANDE NAPOLITANO$1700</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE AL ROQUEFORT . . $1700</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO VERDE . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO NAPOLITANO $1300</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO ROQUEFORT .$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS/PORCIONES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA / MARGARITA . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA C/ JAMON . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZA / ANCHOAS . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. J Y MORRONES . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZETA RELLENA  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZETA C/JAMON $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA C/QUESO . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPOL . . . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDE/ CALABRESA .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP SAN PEDRO . . . . . . $480</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .  $130</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS(FRIA/CALIEN</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y JAMON . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CASERO . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM.RELLENO DE ATUN O AVE $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA .ATÚN . . . . .  $950</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE RABAS . . . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . .$1800</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENSAL . . $1850</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON / MAYONESA AVE . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA ATUN . . . . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON COCIDO . . . $1050</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON CRUDO . . . .$1600</li>                          
                <li class="text-center"><span class="fa-li"></span>PALM. CON SALSA GOLF . . $1500</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURA . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE DADOS DE MUZZA $700</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>DADOS DE MUZZA . . . . . $1000</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS/ENSALD.ESP</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA ESPECIAL . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CH HASTA 4 INGRED . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BERMUDEZ . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BELLAGIO . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DEL PIERO . . .  $650</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS / PARRILA/GU</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO CHAMPIGÑON .$2500</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO . . . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>MINI BIFE DE CHORIZO . . $1000</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION VARIAS . . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FRIT/PURE . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO . . . . . . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA/ SAL  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPES DE TERNERA . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA . . . .  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO/MUZZA . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA COMPLETA . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA RIOJANA . . . . . . $1500</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA POLLO . . . . . . .  $520</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA COMPLETA . . . .  $910</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO/MUZZA/SORR . $730</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . . $620</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNI . . . . . $830</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . .$1350</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMB. A LA PIZZA/VERDEO $950</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETES/ TORTILLAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELET CAPRESSE . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETES SUIZO . . . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELET MIXTO . . . . . .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPAÑOLA . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA /VERD .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPA Y CEBO . .  $750</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLOS/SUPREMA ESPEC</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO AL VERDEO C/ESP $850</li>                          
                <li class="text-center"><span class="fa-li"></span> POLLO AL GRUYERE C/NOSEI $850</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ALAJILLO C/ESPAÑOLA $850</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE SAN PEDRO . . . . .$1700</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $900</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE MARYLAD/ POLLA NEGR$1700</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  Y SALSAS VAR</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREEPS JAMON Y QUESO . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CREEPS CAPRESSE . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES . . . . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ÑOQUIS / TALLARINES . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>SORREN /AGNOLO /CANELON . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOG / PESTO / SUE SUE . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span> GRAN CARUSO/PARISIEN . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO/CREMA/MIXTA/MANTEC $250</li>                          
                <li class="text-center"><span class="fa-li"></span>4 QUESOS . . . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MANTECA . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>.SALSA PARISIENNE . . . . $310</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE/POLLO . .  $420</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU EJECUTIVO      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU DEL DIA . . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU DE ÑOQUIS . . . . .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMOS DE PIZZA     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 1 . . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 2 . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 3 . . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU EMPANADAS . . . . .  $400</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
