    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE . . . . . . . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE . . . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE CON CREMA . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON LECHE . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LECHE C/ 3 LUNAS . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ LECHE TOSTADAS .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO A LA ITALI . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE AMERICANO . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO CON CREMA . . . $130</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>LECHE . . . . . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TE . . . . . . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE CON LECHE . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA . . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. TOSTADAS . . . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MERM./ QUESO/ MANT. $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL . . . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE CREMA O DULCE   $20</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">TORTAS              </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA . . . . . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTAS . . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION DE RICOTA . . . . $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION PASTAFROLA . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION TORTA MANZANA . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>ALFAJOR DE MAIZENA . . .  $110</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PROMOS DE CAFETERIA </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PROMO COPA JUGO . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFEC/LECHE CON 2 LUNAS . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE LECHE/MEDIO TOSTADO  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLAT CON TRES MEDIALU $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS / JUGOS / LI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>SABORIZADA 500 CM3 . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA . . . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO FRUTILLA . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>JUGO DE NARANJA . . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>LIMONADA . . . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE JUGO . . . . . .  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO /AGUA . . . . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO /LECHE . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUAD TUTTI AL AGUA . .  $220</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUAD TUTTI C/LECHE . .  $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS VARIAS     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CERVEZA PATAGONIA . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOOP . . . . . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CORONA 710 CM3 . . . . .  $370</li>                          
                <li class="text-center"><span class="fa-li"></span>STELLA / HEINIKEN . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>ANDES / STOUT / IPA . . . $320</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA DE CERVEZA . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE . . . . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPER CHOPP/ TANQUE . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA CERVEZA VARIAS X473C $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS TINTOS / BLANC</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VASCO TTO/BL 3/4 . . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>NORTON CLASICO . . . . .  $400</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO/BL 3/4 . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>RINCON TTO/BL 3/4 . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFAYATE MALBEC . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VALMONT . . . . . . . . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>COSECHA TARDIA . . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO TTO/BL 1/2 . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ TTO/BL 1/2 . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1/4 . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1/2 . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA TTO / BL .1LT . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA . . . . . . . . . . $410</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICHES (ARABE O </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>QUESO SOLO . . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON COCIDO SOLO . . . . $270</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON Y QUESO . . . . . . $290</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO SOLO . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JAMON CRUDO Y QUESO . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>TOSTADO MIXTO . . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO TOMAT/LECH/QUESO   $50</li>                          
                <li class="text-center"><span class="fa-li"></span>REC .PALM .ATUN / POLLO .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ARABES CALIENTES    </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO SOLO . . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO SOLO . . . . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE POLLO CLASICO . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE LOMO CLASICO . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILA SOLO . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MILANESA CLASICO .  $490</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS A LA PIEDRA/M</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>GDE MUZZA . . . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON . . . . . . . . $610</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE MARGARITA . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE JAMON Y MORRONES . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ANCHOAS . . . . . . . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA . . . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE FUGAZZA CON QUESO . . $690</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE AL OLEO . . . . . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROMANA . . . . . . .  $810</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPOLITANA . . . . .  $690</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE NAPO ESPECIAL . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CALABRESA . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PROVOLONE . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE ROQUE . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE PALMITOS . . . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CHAMPIGÑON . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE VERDE . . . . . . . . $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE CARIBEÑA . . . . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GDE SAN PEDRO . . . . . . $850</li>                          
                <li class="text-center"><span class="fa-li"></span>GR VIENESA . . . . . . .  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GR JAMON C/RUCULA . . . . $850</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS CHICAS       </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHICA MUZZA . . . . . . . $410</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON . . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA MARGARITA . . . . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA JAMON Y MORRONES .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA DE ANCHOAS . . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA . . . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA FUGAZZA CON QUESO . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA AL OLEO . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROMANA . . . . . .  $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO . . . . . . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA NAPO ESPECIAL . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CALABRESA . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PROVOLONE . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA ROQUEFORT . . . . . $640</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA PALMITOS . . . . .  $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CHAMPIÑONES . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA VERDE . . . . . . . $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA CARIBEÑA . . . . .  $630</li>                          
                <li class="text-center"><span class="fa-li"></span>CHICA SAN PEDRO . . . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CH VIENESA . . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>CH JAMON CRUDO C/RUCULA . $690</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">CALZONES Y PIZZA REL</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>TARTA . . . . . . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZZETA RELLENA . .  $980</li>                          
                <li class="text-center"><span class="fa-li"></span>GR FUGAZETTA RELLC/JAMON $1250</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GRANDE NAPOLITANO$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE GDE VERDE . . . .$1400</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE AL ROQUEFORT . . $1400</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO VERDE . . . $990</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO NAPOLITANO  $990</li>                          
                <li class="text-center"><span class="fa-li"></span>CALZONE CHICO ROQUEFORT . $990</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS/PORCIONES </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA / MARGARITA .  $75</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. MUZZA C/ JAMON . .   $85</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC FUGAZA / ANCHOAS . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. J Y MORRONES . . .   $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZETA RELLENA  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZETA C/JAMON $170</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FUGAZZA C/QUESO .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. NAPOL . . . . . . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. VERDE/ CALABRESA .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION MUZZA Y JAMON . .  $85</li>                          
                <li class="text-center"><span class="fa-li"></span>EMP SAN PEDRO . . . . . . $380</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA . . . . . . . . . .  $45</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS VARIAS . . . .   $95</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENTRADAS(FRIA/CALIEN</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MATAMBRE CASERO . . . . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>TOM.RELLENO DE ATUN O AVE $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA AVE O ATÚN . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE RABAS . . . .  $850</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS . . . . . . . . . .$1500</li>                          
                <li class="text-center"><span class="fa-li"></span>RABAS A LA PROVENSAL . . $1500</li>                          
                <li class="text-center"><span class="fa-li"></span>SALPICON / MAYONESA AVE . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>MAYONESA ATUN . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON COCIDO . . .  $700</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. JAMON CRUDO . . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>PALM. CON SALSA GOLF . . $1100</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE C/RUSA . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CROQUETAS DE VERDURA . .  $530</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIA X DE DADOS DE MUZZA $850</li>                          
                <li class="text-center"><span class="fa-li"></span>REVUELTO GRAMAJO . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>DADOS DE MUZZA . . . . .  $700</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">ENSALADAS/ENSALD.ESP</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA ESPECIAL . $370</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CHICA . . . . .  $330</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA GDE . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS CH HASTA 4 INGRED . . $420</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA ESPECIAL . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BERMUDEZ . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA BELLAGIO . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA CAPRESSE . . . . $450</li>                          
                <li class="text-center"><span class="fa-li"></span>ENSALADA DEL PIERO . . .  $450</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MINUTAS / PARRILA/GU</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . .$1100</li>                          
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO . . . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION VARIAS . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORCION FRIT/PURE . . . . $200</li>                          
                <li class="text-center"><span class="fa-li"></span>GUARNICION ESPECIAL . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HUEVO FRITO . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>ESPINACA A LA CREMA/ SAL  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>ESCALOPES DE TERNERA . .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>MILANESA TERNERA . . . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA NAPO/MUZZA . . . . . $520</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA COMPLETA . . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA RIOJANA . . . . . . $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>MILA POLLO . . . . . . .  $410</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA POLLO . . . . . . $470</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA COMPLETA . . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA NAPO/MUZZA/SORR . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>FILET MERLUZA . . . . . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE LOMO . . . . . . $1150</li>                          
                <li class="text-center"><span class="fa-li"></span>MATAMBRE TIERNI . . . . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>BIFE DE CHORIZO . . . . .$1100</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">OMELETES/ TORTILLAS </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>OMELET CAPRESSE . . . . . $580</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELETES SUIZO . . . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>OMELET MIXTO . . . . . .  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA ESPAÑOLA . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA DE PAPA /VERD .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTILLA PAPA Y CEBO . .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">POLLOS/SUPREMA ESPEC</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>1/4 POLLO AL VERDEO C/ESP $580</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO AL GRUYERE C/NOSEI  $580</li>                          
                <li class="text-center"><span class="fa-li"></span>POLLO ALAJILLO C/ESPAÑOLA $580</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE SAN PEDRO . . . . .$1300</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPREMA SUIZA . . . . . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>SUPRE MARYLAD/ POLLA NEGR$1300</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PASTAS  Y SALSAS VAR</h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CREEPS JAMON Y QUESO . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>CREEPS CAPRESSE . . . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>RAVIOLES / CANELONES . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>ÑOQUIS / TALLARINES . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>SORRENTINO /AGNOLOTIS . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>BOLOGNESA/SCARPARO . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SCARPARO . . . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>GRAN CARUSO/PARISIEN . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>FILETO/CREMA/MIXTA . . .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>4 QUESOS . . . . . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA MANTECA . . . . . . $180</li>                          
                <li class="text-center"><span class="fa-li"></span>SALSA PARISIENNE . . . .  $230</li>                          
                <li class="text-center"><span class="fa-li"></span>ESTOFADO CARNE/POLLO . .  $330</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">MENU EJECUTIVO      </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU DEL DIA . . . . . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU ÑOQUI VERDE . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU EJECUTIVO 2 . . . .  $430</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PROMOS DE PIZZA     </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 1 . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 2 . . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU PIZZA 3 . . . . . .  $270</li>                          
                <li class="text-center"><span class="fa-li"></span>MENU EMPANADAS . . . . .  $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES /CREMAS HELA</h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN . . . . . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>FLAN . . . . . . . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS DE FRUTA . . . . . .  $290</li>                          
                <li class="text-center"><span class="fa-li"></span>ANANA /DURAZNO EN ALMIBAR $210</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE . . . . . . $210</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA . . . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ENS FRUTAS C/ HELADO . .  $380</li>                          
                <li class="text-center"><span class="fa-li"></span>BOCHA DE HELADO . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 2 BOCHAS . . .  $300</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO DE 3 BOCHAS . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>POSTRE ALMENDRADO . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>BOMBON ESCOSES . . . . .  $350</li>                          
                <li class="text-center"><span class="fa-li"></span>TORTA TATIN . . . . . . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA HELADA P/ COMPARTIR $1350</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DULCE . . . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE MIXTO . . . . . $300</li>                          
                <li class="text-center"><span class="fa-li"></span>PANQUEQUE DE MANZ . . . . $390</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO COPA HELADA . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRITO COPA HELADA . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/spdro/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
